// Your variable overrides

// Let's try for a Halloween theme - black, orange, a little purple, a little green


// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";
